$bg: #ffffff;
$black: #212529;
$bg-alt: #f4f4f4;
$fg: #646464;
$fg-bold: #3c3b3b;
$border: rgba(160,160,160,0.3);
$accent: #2ebaae;
$red: #dc3545;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
